<div class="row">
    <div class="col-md-12" style="text-align: center; margin-top:2rem">
      <h5>Albums</h5>
    </div>
  </div>
<div class="card-body">
    <div class="row">
        <div *ngFor="let album of userAlbums" class="col-md-2" style="margin-bottom:2%" [routerLink]="['/user-photos', album.id]">
            <div class="card">
                <img class="card-img" src="../../assets/images/album-image.png" alt="Bologna">
                <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                <h4 class="card-title">{{album.title}}</h4>
                </div>
            </div>
      </div>
    </div>
  </div>

